[submodule "dist"]
	path = dist
	url = https://gitlab.com/drassil/launcher-release.git
[submodule "modules/drassil-server-status"]
	path = modules/drassil-server-status
	url = https://github.com/drassil-net/module-server-status
[submodule "modules/drassil-arena-stats"]
	path = modules/drassil-arena-stats
	url = https://github.com/drassil-net/module-arena-stats
[submodule "modules/azs-player-stats"]
	path = modules/azs-player-stats
	url = https://github.com/AzerothShard/module-player-stats.git
[submodule "modules/drassil-search-engine"]
	path = modules/drassil-search-engine
	url = https://github.com/drassil-net/TC-Search-Engine.git
[submodule "modules/azs-arena-stats"]
	path = modules/azs-arena-stats
	url = https://github.com/AzerothShard/module-arena-stats.git
