<template id="footer-drassil">
    <div class="row">
        <div class="col-sm-3">
            (c) <span id="cr-date"></span> - Drassil
        </div>
        <div class="col-sm-6">
            <!-- center -->
        </div>
        <div class="col-sm-3">
            <a href="#" onclick='Drassil.openOtherSite("https://github.com/drassil-net/drassil-app/issues");'>Feedback</a>
        </div>
    </div>
</template>
<script>
    registerComponent("footer-drassil",false, function() {
        var year=new Date().getFullYear();
        $("#cr-date").html(year);
    });
</script>
