<template id="header-azs">
    <div class="electron-element draggable"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <drassil-games></drassil-games>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <header-app-btn></header-app-btn>
                <ul class="nav navbar-nav">
                    <li ng-class="isActive('/site/it/azerothshard')"><a  href="/site/it/azerothshard">Azeroth Shard</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Server<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-class="isActive('/site/it/azerothshard/server-status')"><a href="/site/it/azerothshard/server-status">Giocatori Online</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/player-map')" class="hidden-xs"><a href="/site/it/azerothshard/player-map">Mappa giocatori</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/arena-stats')"><a  href="/site/it/azerothshard/arena-stats">Statistiche Arena</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/bg-stats')"><a href="/site/it/azerothshard/bg-stats">Statistiche BG</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/player-stats')"><a href="/site/it/azerothshard/player-stats">Classifica Giocatori</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/hardcore-levelling')"><a href="/site/it/azerothshard/hardcore-levelling">Hardcore Levelling stats</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/speedrun-rank')"><a href="/site/it/azerothshard/speedrun-rank">Classifica Speedrun (beta)</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/instance_ranks')"><a href="/site/it/azerothshard/instance_ranks">Classifica Instances</a></li>
                            <li ng-class="isActive('/site/it/azerothshard/items_rank')"><a href="/site/it/azerothshard/items_rank">Classifica Collezione Items</a></li>
                        </ul>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilità<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick='Drassil.openOtherSite("https://wowgaming.altervista.org/aowow/");'>Wrath Resources</a></li>
                            <li  ng-class="isActive('/site/it/azerothshard/database')"><a href="/site/it/azerothshard/database">Azeroth Database</a></li>
                            <li><a href="#" onclick='Drassil.openOtherSite("http://azerothshard.org/modules/armory/");'>Armory</a></li>
                            <li><a href="#" onclick='Drassil.openOtherSite("http://azerothshard.org/modules/shardmerge/");'>Fusione Account</a></li>
                            <li><a href="#" onclick='Drassil.openOtherSite("http://azerothshard.org/modules/wow-char-migration/");'>Portings</a></li>
                        </ul>
                    <li><a href="#" onclick="Drassil.openForum('azerothshard')">Forum</a></li>
                    <li><a href="#" onclick="Drassil.openSite('azerothshard')">Sito Web</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-commenting-o"></i> Chat<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="electron-element"><a href="#" onclick="Drassil.openChat('azerothshard')">Apri nel Launcher</a></li>
                            <li><a href="#" onclick="Drassil.openOtherSite(Drassil.defines.azerothshard.chat_invite)">Apri nel Browser</a></li>
                        </ul>
                    </li>
                    <li ng-class="isActive('/site/it/azerothshard/webclient')"><a href="/site/it/azerothshard/webclient">Client Web</a></li>
                    <li  class="browser-element"><a href="/site/en/download-apps">Scarica l'app</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    registerComponent("header-azs", false, function () {
        // after rendered
    });
</script>
