.app-btn {
    border-radius: 15px;
    width: 280px;
    cursor: pointer;
    margin-bottom: 20px;
}

.app-download-page .row{
    text-align: center;
}

.launcher img {
    height: 74px;
}

.disabled {
    opacity: .2
}