<template id="drassil-header">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Drassil App</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html">Home</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Server<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/site/en/server-status.html">Online Players</a></li>
                                                <li><a href="/site/en/arena-stats.html">Arena Stats</a></li>
					</ul>
					<li><a href="#" class="electron-element" onclick="Drassil.settingsOpen()">Settings</a></li>
					<li><a href="#" onclick="Drassil.openAbout('drassil')">About us</a></li>
					<li><a href="#" onclick="Drassil.openForum('drassil')">Forum</a></li>
                                        <li><a href="/site/en/download-apps.html" class="browser-element">Download our apps</a></li>
					<li><a href="#" class="electron-element" onclick="Drassil.resetWoW()">Reset WoW</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><div class="electron-element draggable"></div><li>
					<li><a btn href="javascript:void(0)" id="min-btn" class="electron-element" onclick="Drassil.appMinimize()"><span class="glyphicon glyphicon-chevron-down"></span></a></li>
					<li><a btn href="javascript:void(0)" id="close-btn" class="device-element" onclick="Drassil.appClose()"><span class="glyphicon glyphicon-remove"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</template>
<script>
    registerComponent("drassil-header",false,function() {
        // after rendered
    });
</script>