::-webkit-scrollbar { 
    display: none; 
}

html, body{
    background-image:url("../../data/images/background3.jpg");
}

#azs-logo{
	background-image:url("../../data/images/azshard_logo.png");
	width:600px;
	height:136px;
	position:fixed;
	right:0px;
	top:30px;
}

