::-webkit-scrollbar { 
    display: none; 
}

html, body{
    background-image:url("../../data/images/background2.jpg");
}

#newage-logo{
	background-image:url("../../data/images/newage-logo.png");
	width:600px;
	height:136px;
	position:fixed;
	right:-90px;
	top:30px;
}
