::-webkit-scrollbar { 
    display: none; 
}

html, body{
	margin: 0;
    background: #000000 url("../../data/images/background2.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
	height:100%;
	width: 100%;
}

#newage-logo{
	background-image:url("../../data/images/newage-logo.png");
	width:600px;
	height:136px;
	position:fixed;
	right:-90px;
	top:30px;
}
