<!-- importing style -->
<link rel="stylesheet" href="style.css">
<!-- defining template-->
<template id="wow-client-buttons">
    <div class="sidebar">

        <a class="sidebar-btn sidebar-btn-1 electron-element" id="settings-btn" href="#" onclick="Drassil.settingsOpen()"><div><span>Settings</span></div></a>
        <a class="sidebar-btn sidebar-btn-2 electron-element" id="reset-btn" href="#" onclick="Drassil.resetWoW()"><div><span>Reset WoW</span></div></a>
        <a class="sidebar-btn sidebar-btn-3 electron-element" id="settings-btn" href="/site/com/custom-realm/"><div><span>Custom Realm</span></div></a>
        <a class="sidebar-btn sidebar-btn-4 electron-element" id="cache-btn" href="#" onclick="Drassil.clearCache()"><div><span>Clear Cache</span></div></a>
        <button class="sidebar-btn sidebar-btn-5 electron-element" id="play-btn" onclick="Drassil.launchWoW(Drassil.realm)" disabled>Wait...</button>
        <div class="collapse" id="hide"></div>
    </div>
</template>
<script>
    registerComponent("wow-client-buttons");
</script>
