<!-- importing style -->
<link rel="stylesheet" href="style.css">
<!-- defining template-->
<template id="wow-client-buttons">
    <div class="sidebar">
        <a class="sidebar-btn sidebar-btn-1 electron-element" id="settings-btn" href="#" onclick="Drassil.settingsOpen()"><div><span>Settings</span></div></a>
        <a class="sidebar-btn sidebar-btn-2 electron-element" id="reset-btn" href="#" onclick="Drassil.resetWoW()"><div><span>Reset WoW</span></div></a>
        <a class="sidebar-btn sidebar-btn-3 electron-element" id="cache-btn" href="#" onclick="Drassil.clearCache()"><div><span>Pulisci Cache</span></div></a>
        <a class="sidebar-btn sidebar-btn-4 hidden2 electron-element" id="play-btn" href="#" onclick="Drassil.launchWoW(Drassil.realm)"><div><span>Gioca</span></div></a>
        <div class="collapse" id="hide"></div>
    </div>
</template>
<script>
    registerComponent("wow-client-buttons");
</script>

